.header-content{
    width: 100%;
    height: 140px;
    background: linear-gradient(90deg, #496eaa, #944fa8, #a8804f, #496eaa);
    animation:mymove 20s ease infinite;
    -webkit-animation: mymove 20s ease infinite;
    -moz-animation: mymove 20s ease infinite;
    position: absolute;
    left: 0;
    top: 0;
}
@keyframes mymove
{
    0% {background-position: 0 0; }
    50% {background-position: 50% 100%; }
    100% {background-position: 100% 0;}
}
.header-body{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-body-left{
    width: 50px;
    height: 50px;
    position: relative;
}
.header-body-left img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.header-body-middle{
    height: 100%;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
}
.header-body-right{
    width: 150px;
    height: 100%;
    text-align: center;
    padding: 50px;
}
.header-body-right-buuton{
    vertical-align: middle;
}
.header-body-right-buuton::after{
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
}
